# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build
outputs
reverse/gcc-pass/case/*.s
reverse/gcc-pass/case/*.txt
reverse/gcc-pass/plugin/*.txt
reverse/gcc-pass/plugin/bin
reverse/gcc-pass/plugin/*.dot
reverse/gcc-pass/plugin/*.pdf